# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
*.xcscmblueprint
*.xccheckout
build/

# Fastlane / misc
*.ipa
*.dSYM.zip
*.dSYM
